* {
    margin: 0%;
    padding: 0%;
}
body {
    height: 100vhsurge;
}
header {
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    align-content: space-around;
}
.options:hover {
    cursor: pointer;
}
.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}
.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doodle {
    display: flex;
}
.imput {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 25px;
    height: 35px;
    background-color: rgb(226, 226, 226);
    border: none;
}
.items {
    width: 250px;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.item {
    margin: 10px 10px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: 50px;
    align-content: center;
    background-size: contain;
}
.add {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}
button {
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 5px;
    background-color: white;
    color: #0098c7;
}
.Personalizar {
    height: 28px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.Personalizar:hover {
    background-color: #bcdde7;
    cursor: pointer;
}